@import "ui-variables";

* {
	box-sizing: border-box;
}

.atom-dock-resize-handle.atom-dock-resize-handle-resizable {
  background: transparent;
  border-left: 1px dotted @darkgreen;
  border-right: 1px dotted @darkgreen;
}

atom-workspace {
  background-color: @app-background-color;
}

.scrollbars-visible-always {
  /deep/ ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /deep/ ::-webkit-scrollbar-track {
    background: @scanline-background;
  }

  /deep/ ::-webkit-scrollbar-corner {
    border: 1px solid #090;
  }

  /deep/ ::-webkit-scrollbar-thumb {
    background: @text-color-subtle;

    &:hover {
      background: @text-color-highlight;
      box-shadow: 0 0 5px 1px rgba(50, 255, 50, 0.5);;
    }
  }
}

background-tips ul.background-message {
  color: darken(@green, 40%);
}

