@import "ui-variables";

.tree-view {
  font-size: @font-size;
  background: @tree-view-background-color;

  .selected:before {
    background: repeating-linear-gradient(0deg, #000 1px, #000 1px, #030 3px, #030 1px);
    box-shadow: inset -3px 0 0 rgba(0,0,0, .05);
  }
}

.tree-view-resizer {
  .tree-view-resize-handle {
    width: 8px;
  }
}

.focusable-panel {
  opacity: 1;
  box-shadow: inset -3px 0 0 rgba(0,0,0, .05);

  &:focus {
	color: #0F0;

    .selected:before {
      background: repeating-linear-gradient(0deg, #000 1px, #000 1px, @background-color-selected 3px, @background-color-selected 1px);
    }
  }
}

[data-show-on-right-side=true] {
  .tree-view .selected:before,
  .focusable-panel {
    box-shadow: inset 3px 0 0 rgba(0,0,0, .05);
  }
}
